$text_align: center,left,right;
$align_items:( initial initial,start flex-start,center center,end flex-end,base baseline);
$justify_content:(initial initial,start flex-start,center center,between space-between,end flex-end,around space-around,even space-evenly);
// Flex Direction
.flex-d-col{
  flex-direction: column;
}
.flex-d-row{
  flex-direction: row;
}
// Items Alignment
.flex-item-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
@each $textAlign in $text_align{// Text align
  .text-#{$textAlign}{
    text-align: $textAlign;
  }
}
@each $alignItems in $align_items{// Align Items
  .align-#{nth($alignItems,1)}{
    align-items: nth($alignItems,2);
  }
}
@each $justifyContent in $justify_content{// Justify Content
  .justify-#{nth($justifyContent,1)}{
    justify-content: nth($justifyContent,2);
  }
}
