.blog-edit-page.mt-3.box.box-lg
  h2.m-0 Edit Blog
  = render partial: 'form',locals:{blog_post: @blog_post,btn_text:'Update post'}
  .mt-3
    = button_to "delete",@blog_post,method: :delete,data:{ turbo_confirm:'Are you sure?'},class:'btn'