.single-page
  .blog-post.box
    .category-clas
      span.category #{@blog_post.category}
    h2 #{@blog_post.title }
    p #{@blog_post.description}

    = link_to "Edit",edit_blog_post_path,class:'btn btn-sm'
    
        