header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
  color: #fff;
  background-color: #212427;
  .wrapper{
    height: 60px;
  }
  a{
    color: #fff;
  }
  button{
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
  }
  .logo-wrapper{
    height: 55px;
    width: 55px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}