.nav-sidebar-section{
  position: fixed;
  top: 60px;
  left: 0;
  height: 100vh;
  width:300px;
  background-color: #000;
  padding: 30px;
  .primary-menu{
    a{
      color: #fff;
      display: block;
      width: 100%;
      padding: 15px 15px 15px 30px;
      border-radius: 5px;
      &:hover{
        background-color: #212427;
      }
    }
  }
}