.btn{
  display: inline-block;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  font-family: inherit;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border: 0;
}
.btn-sm{
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
