/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: "Poppins";
  margin: 0;
  background-color: #f1f1f1;
  line-height: 1.1;
  letter-spacing: 0.2px;
}
.container {
  width: 600px;
  margin: auto;
  max-width: 100%;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.justify-between{
  justify-content: space-between;
}
.add-btn,
.submit-btn{
  display: inline-block;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  font-family: inherit;
}
.add-btn{
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.submit-btn{
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border: 0;
}
.m-0{
  margin: 0;
}
.category{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  line-height: 25px;
  padding: 0 15px;
  border-radius: 25px;
  color: #fff;
  background-color: #b90e0a;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog-post{
  margin-top: 15px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.02);
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}
.blog-post h2,
.blog-post p{
  margin: 0;
  padding-top: 10px;
}
label,
.form-group textarea,
.form-group input{
  display: block;
  width: 100%;
  margin-top: 10px;
  font-family: inherit;
}
input{
  margin-top: 15px;
}
.error-msg{
  color: #b90e0a;
  font-size: 13px;
  font-weight: 600;
}