doctype html
html
  head
    title Blog
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    link rel="preconnect" href="https://fonts.googleapis.com"
    link rel="preconnect" href="https://fonts.gstatic.com"
    link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  body class="#{ user_signed_in? ? 'dashboard' : ''}"

    -if user_signed_in?
      = render partial: 'layouts/sidebar'
    header
      .container-fluid
        .wrapper.d-flex.justify-between.align-center
          = link_to "",root_path,class:'logo-wrapper', style:"background-image:url('https://png.pngtree.com/png-clipart/20230207/original/pngtree-beauty-logo-design-png-image_8947095.png')"
          .d-flex
            -if user_signed_in?
              = button_to "Logout",destroy_user_session_path, method: :delete 
            -else
              = link_to "Login",new_user_session_path 
    .main-content
      .container
        p.notice.d-none = notice
        p.notice.d-none = alert
    
        = yield


